*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}

:root {
  --txt-color: #031923;
  --yellow: #e5bb33;
  --blue: #205b75;
  --bg-color: #ffffff;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: var(--txt-color);
  background-color: var(--bg-color);
}

footer {
  color: var(--bg-color);
  background-color: var(--blue);
}

section {
  margin-top: 120px;
}

h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 40px;
}

h3 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

a button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

button {
  height: 36px;
  cursor: pointer;
  color: var(--blue);
  background-color: var(--bg-color);
  border: 1px solid var(--blue);
  border-radius: 8px;
  padding: 6px 10px 10px 10px;
  text-transform: lowercase;
  transition: all 0.3s ease;
  line-height: 1;
  white-space: nowrap;
}

button:hover {
  background-color: var(--blue);
  color: var(--bg-color);
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav {
  display: flex;
}

.main-nav a {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  color: var(--txt-color);
}

.main-nav a:hover {
  color: var(--blue);
}

.nav-btn {
  display: none;
}

.main-header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
}

.main-header-wrap a {
  height: 60px;
}

.main-footer {
  padding: 50px 0;
}

.intro {
  display: flex;
  align-items: center;
  gap: 70px;
}

.intro h1 {
  margin: 0;
  margin-bottom: 20px;
}

.intro p {
  margin: 0;
}

.main-photo {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--blue);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid var(--txt-color);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}

.social-link:hover {
  background-color: var(--yellow);
}

.social-link_github {
  background-image: url("../img/social-github.svg");
}

.social-link_gitlab {
  background-image: url("../img/social-gitlab.svg");
}

.social-link_instagram {
  background-image: url("../img/social-instagram.svg");
}

.social-link_telegram {
  background-image: url("../img/social-telegram.svg");
}

.social-link_vk {
  background-image: url("../img/social-vk.svg");
}

.contacts {
  margin-bottom: 120px;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 40px;
}

.contact-link {
  padding-left: 42px;
  background-repeat: no-repeat;
  background-position: left;
  text-decoration: none;
  color: var(--txt-color);
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.contact-link:hover {
  color: var(--blue);
}

.contact-link_phone {
  background-image: url("../img/icon-phone.svg");
}

.contact-link_mail {
  background-image: url("../img/icon-email.svg");
}

.skills p,
.skills h2 {
  margin: 0;
}

.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.skills-button {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.skill-list {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.skill-list dt {
  margin-bottom: 6px;
  padding: 5px 0 5px 38px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
}

.skill-level {
  margin: 4px 0 20px;
  padding: 2px;
  font-size: 0;
  border: 1px solid var(--blue);
  border-radius: 16px;
}

.skill-level div {
  height: 14px;
  background-color: var(--yellow);
  border-radius: 8px;
}

.skill-item {
  text-transform: lowercase;
}

.skill-item_html {
  background-image: url("../img/skill-html.svg");
}

.skill-item_css {
  background-image: url("../img/skill-css.svg");
}

.skill-item_nodejs {
  background-image: url("../img/skill-nodejs.svg");
}

.skill-item_python {
  background-image: url("../img/skill-python.svg");
}

.skill-item_javascript {
  background-image: url("../img/skill-javascript.svg");
}

.text-wrapper {
  max-width: 800px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  a,
  button {
    font-size: 16px;
  }

  section {
    margin-top: 80px;
  }

  .subtitle {
    font-size: 28px;
  }

  .main-photo {
    width: 250px;
    height: 250px;
  }

  .intro {
    gap: 50px;
  }

  .contacts {
    margin-bottom: 80px;
  }

  .contact-link {
    padding-top: 7px;
    padding-bottom: 7px;
    .intro {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  a,
  button {
    font-size: 14px;
  }

  .main-nav {
    max-height: 250px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    z-index: -2;
  }

  .hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  }

  .nav-btn {
    border: 0;
    display: block;
    width: 30px;
    height: 30px;
  }

  .nav-btn:hover {
    background-color: transparent;
  }

  .nav-btn_close {
    background-image: url(../img/icon-close.svg);
  }

  .nav-btn_open {
    background-image: url(../img/icon-burger.svg);
  }

  .main-header {
    padding-top: 20px;
    gap: 20px;
  }

  .main-header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header-wrap img,
  .main-header-wrap a {
    width: 40px;
    height: 40px;
  }

  .main-nav a {
    margin: 6px;
  }

  .main-header,
  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    gap: 30px;
    flex-direction: column;
    text-align: center;
  }

  .intro h1 {
    margin-bottom: 10px;
  }

  .main-photo {
    width: 150px;
    height: 150px;
  }

  .subtitle {
    font-size: 20px;
  }

  section {
    margin-top: 50px;
  }

  .skills-header {
    margin-bottom: 30px;
  }

  .contact-link {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .contacts {
    margin-bottom: 50px;
  }

  .contact-list {
    margin-bottom: 20px;
  }

  .contacts h2 {
    margin-bottom: 30px;
  }

  .social-list{
    gap: 15px;
  }

  .main-footer {
    padding: 30px 0px 30px;
  }
}

@media screen and (max-width: 380px) {
  .skills-header {
    flex-direction: column;
    gap: 20px;
  }

  .skills-button {
    gap: 10px;
    width: 100%;
    flex-direction: column;
  }

  .skills-button button {
    width: 100%;
  }

  .contact-list {
    flex-direction: column;
    gap: 25px;
  }

  .social-list {
    gap: 15px;
  }
}
